<h2 mat-dialog-title>Recuperar contraseña</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm" (submit)="login()">
    <mat-form-field class="w-full pt-2" color="accent" appearance="outline">
      <mat-label color="accent">Ingrese su correo</mat-label>
      <input formControlName="email" matInput />
      <mat-icon matSuffix class="text-primary">alternate_email</mat-icon>
      @if (loginForm.controls['email'].hasError('required')) {
        <mat-error>
          <small>Usuario es <strong>requerido</strong> </small>
        </mat-error>
      }
    </mat-form-field>
    <mat-dialog-actions class="w-full gap-2 flex justify-content-evenly mb-3">
      <shared-button
        mat-dialog-close
        [icon]="'clear'"
        [typeBtn]="'button'"
        [color]="'warn'"
        >Cancelar</shared-button
      >
      <shared-button
        [icon]="'login'"
        [disabled]="!loginForm.valid"
        [typeBtn]="'submit'"
        color="accent"
        >Enviar</shared-button
      >
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
