<div
  class="container min-h-screen flex align-items-center justify-content-center">
  <div
    class="flex flex-column lg:flex-row xl:flex-row align-items-center w-9 h-8rem justify-content-around">
    <div class="flex flex-column align-items-center justify-content-center">
      <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img
          src="../../../../assets/claro-logo.png"
          class="w-3 md:w-4 lg:w-5 xl:w-6"
          alt="Logo" /> -->
        <h1 class="text-white text-lg md:text-xl lg:text-3xl xl:text-4xl">
          Se esta cerrando la sesión...
        </h1>
      </div>
      <br />
      <div>
        <img
          alt="Spinner"
          class="w-full"
          src="../../../../assets/spinners/three-dots.svg" />
      </div>
    </div>
  </div>
</div>
