<h2 mat-dialog-title>Cambio de contraseña</h2>
<mat-dialog-content class="mat-typography">
  <h5>Ingresar código y la nueva contraseña</h5>
  <span>
    <strong>Nota:</strong> Asegúrate de que tu nueva contraseña cumpla con los
    siguientes requisitos:
  </span>
  <mat-list role="list">
    <mat-list-item role="listitem">- Mínimo de 8 caracteres. </mat-list-item>
    <mat-list-item role="listitem"
      >- Al menos una letra mayúscula.
    </mat-list-item>
    <mat-list-item role="listitem"
      >- Al menos una letra minúscula.
    </mat-list-item>
    <mat-list-item role="listitem">- Al menos un número. </mat-list-item>
    <mat-list-item role="listitem"
      >- Al menos uno de los siguientes caracteres especiales:
    </mat-list-item>
    <mat-list-item role="listitem">
      <strong>&#64;, #, $, %, ^, &, +, =, !</strong>
    </mat-list-item>
  </mat-list>
  <form [formGroup]="loginForm" (submit)="login()">
    <mat-form-field class="w-full pt-2" color="accent" appearance="outline">
      <mat-label color="accent">Código</mat-label>
      <input formControlName="codigo" matInput />
      <mat-icon matSuffix class="text-primary">account_circle</mat-icon>
      @if (loginForm.controls['codigo'].hasError('required')) {
        <mat-error>
          <small>Código es <strong>requerido</strong> </small>
        </mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field color="accent" class="w-full pt-2" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        class="text-black"
        formControlName="password"
        matInput
        [type]="hide ? 'password' : 'text'" />
      <a matSuffix mat-icon-button aria-label="Clear" (click)="hide = !hide">
        <mat-icon class="text-primary">{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </a>
      @if (loginForm.controls['password'].hasError('required')) {
        <mat-error>
          <small>Contraseña es <strong>requerida</strong> </small>
        </mat-error>
      }
      @if (loginForm.controls['password'].hasError('pattern')) {
        <mat-error>
          <small
            >La <strong>contraseña</strong> no cumple con los requisitos
          </small>
        </mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field color="accent" class="w-full pt-2" appearance="outline">
      <mat-label>Confirmar Contraseña</mat-label>
      <input
        class="text-black"
        formControlName="confirmPassword"
        matInput
        [type]="hideConfirm ? 'password' : 'text'" />
      <a
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="hideConfirm = !hideConfirm">
        <mat-icon class="text-primary">{{
          hideConfirm ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </a>
      @if (loginForm.controls['confirmPassword'].hasError('required')) {
        <mat-error>
          <small>Confirmar contraseña es <strong>requerida</strong> </small>
        </mat-error>
      }
      @if (loginForm.controls['confirmPassword'].hasError('notEqual')) {
        <mat-error>
          <small>Las contraseñas no <strong>coinciden</strong> </small>
        </mat-error>
      }
    </mat-form-field>

    <mat-dialog-actions class="w-full gap-2 flex justify-content-evenly mb-3">
      <shared-button
        mat-dialog-close
        [icon]="'clear'"
        [typeBtn]="'button'"
        [color]="'warn'"
        >Cancelar</shared-button
      >
      <shared-button
        [icon]="'login'"
        [disabled]="!loginForm.valid"
        [typeBtn]="'submit'"
        color="accent"
        >Aceptar</shared-button
      >
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
